<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
    <add key="local" value=".localcache/local-feed" />
    <add key="fallback" value=".nugetfallback" />
		<add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet5" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <add key="NuGetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <!-- <add key="Roslyn Nightlies" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" /> -->
		<!-- <add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" /> -->
		<!-- <add key="VS Editor Legacy" value="https://www.myget.org/F/vs-editor/api/v3/index.json" /> -->
		<!-- <add key="VSTest" value="https://dotnet.myget.org/F/vstest/" /> -->
		<!-- <add key="Templating" value="https://dotnet.myget.org/F/templating/" /> -->
		<!-- <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" /> -->
		<!-- <add key="Azure AppService" value="https://www.myget.org/F/azure-appservice/api/v3/index.json" /> -->
		<!-- <add key="MSBuild" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" /> -->
		<!-- <add key="nuget-build" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" /> -->
	</packageSources>
  <disabledPackageSources>
    <add key="VS Editor Legacy" value="true" />
  </disabledPackageSources>
</configuration>
